body{
    margin: 0px;
    padding: 0px;
    background-color:rgb(148, 64, 227);
    box-sizing: border-box;
}
#mini{
    border: none;
    outline: none;
   font-size: 40px;
}
.incard{
    margin-left: 38%;
    height: 300px;
    width: 400px;
    background-color: white;
    margin-top: 15%;
    border-radius: 10px;
    transform: rotate(6deg);
}
input::placeholder{
    font-size: large;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 62px;
}
.input{
    padding-left: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}
#button{
    background-color: rgb(148, 64, 227);
    border: none;
    font-size: medium;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
#match{
    border-radius: 5px;
    font-size:xx-large;
    border: 2px solid black;
   
   }
#firstin{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 8px;
    height: 20px;
    width: 250px;
    border: 3px solid black;
    margin-left: 10px;
    margin-bottom:5px;
    padding-bottom:50px;
    text-align: center;
    position: static;
    border-radius: 5px;
    background-color:white;
    border-color: rgba(0, 0, 0, 0.702);
}

